{% extends 'base.html' %}
{% load static %}

{% block title %} Meu Blog {% endblock %}
{% block link %}
    <link href="{% static 'css/blog.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block content %}
    {% if tag %}
        <h2 class="card text-xl-center p-2">
            Post com a mesma tag: {{ tag.name }}
        </h2>
    {% endif %}

    {% for post in posts %}
            <div class="card p-3 mt-1">
                <a href="{{ post.get_absolute_url }}">
                    <h3>
                        {{ post.titulo }}
                    </h3>
                </a>
                <p class="tags">
                    Tags: {% for tag in post.tags.all %}
                        <a href="{% url 'blog:listar_post_by_tag' tag.slug %}">
                            {{ tag.name }}
                        </a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="date">
                    Publicação {{ post.publicada }} by {{ post.autor }}
                </p>
                {{ post.corpo|truncatewords:30|linebreaks }}

                <p>
                    <a href="{% url 'blog:compartilhar_post' post.id %}">
                        Compartilhar
                    </a>
                </p>

            </div>
    {% endfor %}
    {% include "paginacao.html" with page=posts %}
{% endblock %}
