{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{% static 'css/blog.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <title>{% block title %} {% endblock %}</title>
    {% block link %} {% endblock %}
</head>
<body>

<nav class="navbar navbar-dark bg-white">
    <div class="container-fluid">
        <a href="{% url 'blog:listar_posts' %}" class="navbar-brand">
            Blog do Samuel
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-primary" type="submit">
                Buscar
            </button>
        </form>
        <button class="btn btn-outline-primary" type="submit">
            Post {% total_posts %}
        </button>
    </div>
</nav>

<div class="container mt-4" id="content">
    <div class="row">
        <div class="col-4 card mt-1">
            <h2 class="mt-4">Ultimos Posts</h2>
            {% ver_ultimos_posts %}
            <h2 class="mt-4">Posts mais comentados</h2>
            {% posts_mais_comentados as posts_mais %}
            <ul>
                {% for post in posts_mais %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.titulo }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>